.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 70px auto;
}

header {
  border: 2px solid green;
}

nav {
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  padding: 2px;
}

main {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

article {
  border: 2px solid purple;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

h4 {
  text-align: center;
}

article:articledata {
  flex-direction: row;
}
