.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 70px auto;
}

header {
  border: 2px solid green;
  display: grid;
  grid-template-columns: repeat(3 1fr);
}

header p {
  grid-column: 3/3;
}

nav {
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  padding: 2px;
}

main {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

article {
  border: 2px solid purple;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

h4 {
  text-align: center;
}

.articleData {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.commentCard {
  border: 2px solid aqua;
  margin: 5px;
  width: 100%;
}

.options {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.userCard {
  border: 2px solid orange;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 5px;
  width: 100%;
}

.userCard img {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.votes img {
  height: 20px;
  width: 20px;
  margin: 2px;
}

.votes button {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  height: 30px;
  width: 30px;
}

button:disabled {
  background: darkgrey;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="submit"] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.formContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 5px;
  border: 2px solid black;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-25 label {
  font-size: "100";
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
